# Copyright 2015 Philipp Oppermann
#
# Licensed under the Apache License, Version 2.0 (the "License")
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Set serial port unit and its baud rate
serial --unit=0 --speed=115200

# Set the terminal input/output to serial
# (If we don't do this then writing to the
# serial port doesn't work)
terminal_input serial ; terminal_output serial

set timeout=1
set default=0

menuentry "my os" {
    multiboot2 /boot/kernel.bin
    boot
}
